# Variáveis e Operadores

In [1]:
# Atribuindo o valor 1 a variavel var_teste
var_teste = 1

In [2]:
# Imprimindo o valor da variavel
var_teste

1

In [3]:
# Imprimindo o valor da variavel
print(var_teste)

1

In [4]:
# Não podemos utilizar uma variavel que não foi definida. Veja a msg de erro
my_var

NameError: name 'my_var' is not defined

In [5]:
var_teste = 2

In [6]:
var_teste

2

In [7]:
type(var_teste)

int

In [8]:
var_teste = 9.5

In [9]:
type(var_teste)

float

In [10]:
x = 1

In [11]:
x

1

# Declaração Multipla

In [12]:
pessoa1, pessoa2, pessoa3 = "Maria", "Jose", "Joao"

In [13]:
pessoa1

'Maria'

In [14]:
pessoa2

'Jose'

In [15]:
pessoa3

'Joao'

In [16]:
fruta1 = fruta2 = fruta3 = "laranja"

In [17]:
fruta1

'laranja'

In [18]:
fruta2

'laranja'

In [19]:
fruta3

'laranja'

# Pode-se usar letras, numeros e underline(nao pode comecar com numeros)

In [21]:
x1 = 50

In [22]:
x1

50

In [23]:
#Mensagem de erro, pois o python não permite nomes de variaveis que 
#iniciem com numeros
1x=50

SyntaxError: invalid syntax (<ipython-input-23-122044e53847>, line 3)

# Nao pode usar palavras reservadas com nome de variavel, False, class, finally , ....

In [24]:
break =1

SyntaxError: invalid syntax (<ipython-input-24-a6ae8cfd2932>, line 1)

# Variaveis atribudas a outras variaveis e ordem dos operadores

In [26]:
largura=2

In [27]:
altura=4

In [28]:
area=largura*altura

In [29]:
area

8

In [30]:
perimetro=2*largura*altura

In [31]:
perimetro

16

In [32]:
# A ordem dos operadores é a mesma seguida na Matematica
perimetro = 2 * (largura + 2) * altura

In [33]:
perimetro

32

# Operações com variaveis

In [34]:
idade1 = 25

In [35]:
idade2 = 35

In [36]:
idade1 + idade2

60

In [37]:
idade2 - idade1

10

In [38]:
idade2 * idade1

875

In [39]:
idade2 / idade1

1.4

In [40]:
idade2 % idade1

10

# Concatenação de variaveis

In [41]:
nome = "Luis"

In [42]:
sobrenome = "Suarez"

In [43]:
fullname = nome + " " + sobrenome

In [44]:
fullname

'Luis Suarez'